<!DOCTYPE html>
<!--    Note: this file is not in use any longer, it is superseded by splash.ejs which
        is an almost exact copy (apart from template tags).
-->
<html>
  <head>
    <title>Connect Four Game</title>
    <div class="title">
      <a href="http://www.github.com/andyshome"><img src="./images/github.png" alt=""></a>
      <h1>Connect Four Game</h1>
      <p>Ziang Qiu && Zhiqiang Lei</p>
    </div>
    
    <link rel="stylesheet" href="stylesheets/splash.css" />

  </head>
  <body>
    <main>
      
      <div class="image">
      </div>
      <div class="startGame">
        <form action="game.html" id="playButton">
          <button type="submit"><img src="./images/play.png" alt=""></button>
        </form>
      </div>
      <div class="Introduce">
        <h1>Introduce</h1>
        <p>The thing what you need to do in this game, is very easy but if you can astonish your opponent by your strategic movements, you can easily complete the game successfully. The game is played on a board which you try to sort your four men horizontal, vertical or cross. When you do this sort, you will be the winner of the game. Call your friend right now and let the game begin!</p>
      </div>
      <div>
        <p>
          Players connected: <span id="stat1"><%= players_connected %></span></br>
          Games won: <span id="stat2"><%= games_won %></span></br>
          Queens conquered: <span id="stat3"><%= game_init %></span>
        </p>
      </div>
    </main>
  </body>
</html>
