



header,main,footer {
    min-width: 855px;
}
header .container,main .container,footer .container {
    min-width: 855px;
    margin: auto;
}

header h1 {
    float: left;
    width: 570px;
}

header nav {
    float: right;
    width: 285px;
}

header {
    background: white;
    overflow: auto;
}

main{
    background: white;
    display: block;
}

footer{
    background: yellow;
}