body{

    text-align: center;
    background-color: aliceblue;
    
}

body h1{
    font-family: Monaco;
    color: lightslategray;

}


#game {

    background-color: cadetblue;
    display: inline-block;
    align-content: center;

}

.collum {
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    margin: 5px;

}

#GameStatus{
    border-style: groove;
    border-color: lightslategray;
    border-radius: 20px;
    border
    position: center;
    text-align: center;

}




.empty {
    cursor: pointer;
}

.highLight {
    background-color: green;
}

.black {
    background-color: black;
}

.red {
    background-color: palevioletred;
}